.surveyBtn {
    margin-top: 20px;
    margin-right: 5px;
    background-color: #497174;
    color: #ffff;
    float: right;
}

.mat-checkbox {
    margin: 0px 12px;
    font-size: 0.8rem;
}

.surveyList {
    width: 100%;
    height: auto;
}