<mat-card>
    <mat-accordion>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>Survey<span class="label label-warning">Optional</span></mat-panel-title>
                <mat-panel-description>For tomorrow's menu</mat-panel-description>
            </mat-expansion-panel-header>
            <form>
                <mat-card-content>
                    <div class="surveyList">
                            <mat-checkbox *ngFor=" let todayMenu of todayMenus" >{{todayMenu.dishName}}</mat-checkbox>
                    </div>
                </mat-card-content>
                <button mat-raised-button class="surveyBtn" type="submit" >Vote</button>
            </form>
        </mat-expansion-panel>
    </mat-accordion>
</mat-card>
<!-- <mat-card>
    <mat-card-content class="text-center">
        <h4 class="card-title">User Info</h4>
        <div class="profile-pic m-b-20 m-t-20">
            <img src="assets/images/users/5.jpg" width="150" class="rounded-circle" alt="user">
            <h4 class="m-t-20 m-b-0">Daniel Kristeen</h4>
            <a href="mailto:danielkristeen@gmail.com">danielkristeen@gmail.com</a>
        </div>
    </mat-card-content>
</mat-card> -->