<div fxLayout="row wrap">
    <!-- column -->
    <div fxLayout="row wrap">
        <!-- column -->
        <div fxFlex.gt-sm="33.33" fxFlex.gt-xs="100" fxFlex="100">
            <mat-card >
                <!-- Row -->
                <div class="social-widget">
                    <div class="soc-header box-twitter">
                        <h3 >Dishes</h3>
                    </div>
                    <div fxLayout="row" fxLayoutWrap="wrap" class="text-center">
                        <div fxFlex.gt-sm="50" fxFlex.gt-xs="50" class="p-20 b-r">
                            <h3 class="font-medium m-0">456</h3>
                            <span class="text-muted">Total</span>
                        </div>
                        <div fxFlex.gt-sm="50" fxFlex.gt-xs="50" class="p-20 b-r">
                            <h3 class="font-medium m-0">456</h3>
                            <span class="text-muted">Active</span>
                        </div>
                        <div fxFlex.gt-sm="50" fxFlex.gt-xs="50" class="p-20">
                            <h3 class="font-medium  m-0">456</h3>
                            <span class="text-muted">Inactive</span>
                        </div>
                    </div>
                </div>
            </mat-card>
        </div>
    <!-- column -->
    <!-- column -->
        <div fxFlex.gt-sm="33.33" fxFlex.gt-xs="100" fxFlex="100">
            <mat-card>
                <!-- Row -->
                <div class="social-widget">
                    <div class="soc-header box-google">
                        <h3 >Users</h3>
                    </div>
                    <div fxLayout="row" fxLayoutWrap="wrap" class="text-center">
                        <div fxFlex.gt-sm="100" fxFlex.gt-xs="50" class="p-20">
                            <h3 class="font-medium m-0">456</h3>
                            <span class="text-muted">Total</span>
                        </div>
                    </div>
                </div>
            </mat-card>
        </div>
    <!-- column -->
    <!-- column -->
        <div fxFlex.gt-sm="33.33" fxFlex.gt-xs="100" fxFlex="100">
            <mat-card>
                <!-- Row -->
                <div class="social-widget">
                    <div class="soc-header box-linkedin">
                        <h3 >Reports</h3>
                    </div>
                    <div fxLayout="row" fxLayoutWrap="wrap" class="text-center">
                        <div fxFlex.gt-sm="50" fxFlex.gt-xs="50" class="p-20 b-r">
                            <h3 class="font-medium m-0">10</h3>
                            <span class="text-muted">total</span>
                        </div>
                        <div fxFlex.gt-sm="50" fxFlex.gt-xs="50" class="p-20 b-r">
                            <h3 class="font-medium  m-0">2</h3>
                            <span class="text-muted">Cash</span>
                        </div>
                        <div fxFlex.gt-sm="50" fxFlex.gt-xs="50" class="p-20">
                            <h3 class="font-medium  m-0">2</h3>
                            <span class="text-muted">Credit</span>
                        </div>
                    </div>
                </div>
            </mat-card>
        </div>
    <!-- column -->
    <!-- column -->
        <div fxFlex.gt-sm="33.33" fxFlex.gt-xs="100" fxFlex="100">
            <mat-card>
                <!-- Row -->
                <div class="social-widget">
                    <div class="soc-header box-linkedin">
                        <h3 >Orders</h3>
                    </div>
                    <div fxLayout="row" fxLayoutWrap="wrap" class="text-center">
                        <div fxFlex.gt-sm="100" fxFlex.gt-xs="50" class="p-20">
                            <h3 class="font-medium m-0">456</h3>
                            <span class="text-muted">Total</span>
                        </div>
                    </div>
                </div>
            </mat-card>
        </div>
    <!-- column -->
        <div fxFlex.gt-sm="33.33" fxFlex.gt-xs="100" fxFlex="100">
            <mat-card>
                <!-- Row -->
                <div class="social-widget">
                    <div class="soc-header box-facebook">
                        <h3 >Surveys</h3>
                    </div>
                    <div fxLayout="row" fxLayoutWrap="wrap" class="text-center">
                        <div fxFlex.gt-sm="100" fxFlex.gt-xs="50" class="p-20">
                            <h3 class="font-medium m-0">456</h3>
                            <span class="text-muted">Total</span>
                        </div>
                    </div>
                </div>
            </mat-card>
        </div>
</div>
