.card-widget-one {
    background-color: #B8405E;
}

.card-widget-one label {

    color: #ffff;
    font-weight: bolder;
    font-size: 1.3rem;
    font-family: sans-serif;
}

.card-widget-two {
    background-color: #313552;
}

.card-widget-two label {

    color: #ffff;
    font-weight: bolder;
    font-size: 1.3rem;
    font-family: sans-serif;
}

.card-widget-three {
    background-color: #5C6E91;
}

.card-widget-three label {

    color: #ffff;
    font-weight: bolder;
    font-size: 1.3rem;
    font-family: sans-serif;
}

.card-widget-four {
    background-color: #DD9866;
}

.card-widget-four label {

    color: #ffff;
    font-weight: bolder;
    font-size: 1.3rem;
    font-family: sans-serif;
}