<div fxLayout="row wrap">
    <!-- column -->
        <!-- column -->
        <div  fxFlex.gt-sm="25" fxFlex.gt-xs="100" fxFlex="100">
            <mat-card >
                <!-- Row -->
                <mat-card-header class="card-widget-one">
                    <label>Dishes</label>
                </mat-card-header>
                    <div fxLayout="row" fxLayoutWrap="wrap" class="text-center">
                        <div fxFlex.gt-sm="33.33" fxFlex.gt-xs="50" class="p-20 b-r">
                            <h3 class="font-medium m-0">456</h3>
                            <span class="text-muted">Total</span>
                        </div>
                        <div fxFlex.gt-sm="33.33" fxFlex.gt-xs="50" class="p-20 b-r">
                            <h3 class="font-medium m-0">456</h3>
                            <span class="text-muted">Active</span>
                        </div>
                        <div fxFlex.gt-sm="33.33" fxFlex.gt-xs="50" class="p-20">
                            <h3 class="font-medium  m-0">456</h3>
                            <span class="text-muted">Inactive</span>
                        </div>
                    </div>
            </mat-card>
        </div>
    <!-- column -->
    <!-- column -->
        <div  fxFlex.gt-sm="25" fxFlex.gt-xs="100" fxFlex="100">
            <mat-card>
                <!-- Row -->
                <mat-card-header class="card-widget-two">
                    <label>Users</label>
                </mat-card-header>
                    <div fxLayout="row" fxLayoutWrap="wrap" class="text-center">
                        <div fxFlex.gt-sm="100" fxFlex.gt-xs="50" class="p-20">
                            <h3 class="font-medium m-0">456</h3>
                            <span class="text-muted">Total</span>
                        </div>
                    </div>
            </mat-card>
        </div>
    <!-- column -->
    <!-- column -->
        <!-- <div fxFlex.gt-sm="33.33" fxFlex.gt-xs="100" fxFlex="100">
            <mat-card>
                <div class="social-widget">
                    <div class="soc-header box-linkedin">
                        <h3 >Reports</h3>
                    </div>
                    <div fxLayout="row" fxLayoutWrap="wrap" class="text-center">
                        <div fxFlex.gt-sm="50" fxFlex.gt-xs="50" class="p-20 b-r">
                            <h3 class="font-medium m-0">10</h3>
                            <span class="text-muted">total</span>
                        </div>
                        <div fxFlex.gt-sm="50" fxFlex.gt-xs="50" class="p-20 b-r">
                            <h3 class="font-medium  m-0">2</h3>
                            <span class="text-muted">Cash</span>
                        </div>
                        <div fxFlex.gt-sm="50" fxFlex.gt-xs="50" class="p-20">
                            <h3 class="font-medium  m-0">2</h3>
                            <span class="text-muted">Credit</span>
                        </div>
                    </div>
                </div>
            </mat-card>
        </div> -->
    <!-- column -->
    <!-- column -->
        <div  fxFlex.gt-sm="25" fxFlex.gt-xs="100" fxFlex="100">
            <mat-card>
                <!-- Row -->
                <mat-card-header class="card-widget-three">
                    <label>Total Orders</label>
                </mat-card-header>
                    <div fxLayout="row" fxLayoutWrap="wrap" class="text-center">
                        <div fxFlex.gt-sm="100" fxFlex.gt-xs="50" class="p-20">
                            <h3 class="font-medium m-0">456</h3>
                            <span class="text-muted">Today</span>
                        </div>
                    </div>
            </mat-card>
        </div>
    <!-- column -->
        <div  fxFlex.gt-sm="25" fxFlex.gt-xs="100" fxFlex="100">
            <mat-card>
                <!-- Row -->
                <mat-card-header class="card-widget-four">
                    <label>Survey</label>
                </mat-card-header>
                    <div fxLayout="row" fxLayoutWrap="wrap" class="text-center">
                        <div fxFlex.gt-sm="100" fxFlex.gt-xs="50" class="p-20">
                            <h3 class="font-medium m-0">456</h3>
                            <span class="text-muted">Total</span>
                        </div>
                    </div>
            </mat-card>
        </div>
</div>
