.responsive-table mat-header-cell,
mat-cell {
    text-align: center;
    justify-content: center;
}

.table {
    width: 100%;
    align-items: center;
    justify-content: center;
    // background-color: antiquewhite;
}

// mat-card-content {
//     background-color: antiquewhite;
// }