<mat-card>
    <mat-card-content >
        <mat-card-title>Menu For Today</mat-card-title>
        <div class="container">
          <div class="dish-list" *ngFor="let dish of voteResults.dishSorted">
            <label class="card">
              <input type="checkbox"/>
              <div class="cardContent">
                <img class="img_index" src="" alt=""/>
                <div class="content">
                    <span class="dish-info">
                    {{dish.dish.dish_name}}
                    </span>
                </div>
              </div>
            </label>
            </div>
          </div>
    </mat-card-content>
</mat-card>

<!-- <ul class="dish_list">
  <li *ngFor="let dish of voteResults.dishSorted">
    <mat-checkbox
      type="checkbox"
      class="btn"
    >
      <div class="dish_container">
        <picture>
          <div class="dish_picture">
            <img
              class="img_index"
              src=""
            />
          </div>
        </picture>
        <div class="dish_btn">
          <div class="dish_text">+</div>
        </div>
        <figcaption class="dish_info">
          <span class="dish_name">
          {{dish.dish.dish_name}}
          </span>
        </figcaption>
      </div>
    </mat-checkbox>
  </li>
</ul> -->