<mat-card>
    <mat-card-content>
        <h4 class="card-title">Survey</h4>
    </mat-card-content>
    <mat-card-content class="bg-light">
        <span class="label label-warning">Optional</span>
    </mat-card-content>
    <mat-card-content>
        <form>
            <mat-checkbox class="example-margin">Check me!</mat-checkbox>
            <mat-checkbox class="example-margin">Check me!</mat-checkbox>
            <mat-checkbox class="example-margin">Check me!</mat-checkbox>
            <mat-checkbox class="example-margin">Check me!</mat-checkbox>
            <mat-checkbox class="example-margin">Check me!</mat-checkbox>
            <mat-checkbox class="example-margin">Check me!</mat-checkbox>
            <br/>
            <button mat-raised-button class="surveyBtn" >Submit</button>
        </form>
    </mat-card-content>
</mat-card>
<!-- <mat-card>
    <mat-card-content class="text-center">
        <h4 class="card-title">User Info</h4>
        <div class="profile-pic m-b-20 m-t-20">
            <img src="assets/images/users/5.jpg" width="150" class="rounded-circle" alt="user">
            <h4 class="m-t-20 m-b-0">Daniel Kristeen</h4>
            <a href="mailto:danielkristeen@gmail.com">danielkristeen@gmail.com</a>
        </div>
        
    </mat-card-content>
</mat-card> -->