<div fxLayout="Column" fxLayoutGap="30px">
    <mat-card>
      <mat-card-content>
        <div fxFlex.gt-sm="100" fxFlex.gt-xs="100">
          <div class="responsive-table">
            <div class="topContainer">
              <div class="searchBar">
                <mat-form-field appearance="outline">
                  <mat-label>Search Dish... </mat-label>
                  <input
                    matInput
                    placeholder=""
                    search
                    (keyup)="applyEvent($event)"
                  />
                  <mat-icon matSuffix>search</mat-icon>
                </mat-form-field>
              </div>
              <div class="action">
                <button
                  mat-raised-button
                  type="submit"
                  color="primary"
                  (click)="openDialog()"
                >
                  Add Dish
                </button>
              </div>
            </div>
            <mat-table #table [dataSource]="dataSource" matSort display="flex">
              <ng-container matColumnDef="dishName">
                <mat-header-cell *matHeaderCellDef mat-sort-header>
                  Dish Name
                </mat-header-cell>
                <mat-cell *matCellDef="let element">
                  {{ element.dishName }}
                </mat-cell>
              </ng-container>
              <ng-container matColumnDef="dishType">
                <mat-header-cell *matHeaderCellDef mat-sort-header>
                  Dish Type
                </mat-header-cell>
                <mat-cell *matCellDef="let element">
                  {{ element.dishType }}
                </mat-cell>
              </ng-container>
              <ng-container matColumnDef="price">
                <mat-header-cell *matHeaderCellDef mat-sort-header>
                  Price
                </mat-header-cell>
                <mat-cell *matCellDef="let element">
                  {{ "₱" + element.price }}
                </mat-cell>
              </ng-container>
              <ng-container matColumnDef="status">
                <mat-header-cell *matHeaderCellDef mat-sort-header>
                  Status
                </mat-header-cell>
                <mat-cell *matCellDef="let element">
                   <span class="label label-success" *ngIf="element.status == 'Active'; else inactive">{{ element.status }}</span>
                   <ng-template #inactive>
                    <span class="label label-danger" >{{ element.status }}</span>
                   </ng-template>
                </mat-cell>
              </ng-container>
              <ng-container matColumnDef="action">
                <mat-header-cell *matHeaderCellDef> Action </mat-header-cell>
                <mat-cell *matCellDef="let element">
                  <div class="actionContainer">
                    <span
                      class="editButton"
                      mat-raised-button
                      color="primary"
                      (click)="openEditDialog(element)"
                    >
                      <mat-icon>edit</mat-icon>
                    </span>
                    <span
                      class="deleteButton"
                      mat-raised-button
                      color="warn"
                      (click)="deleteDish(element.id)"
                    >
                      <mat-icon>delete_outline</mat-icon>
                    </span>
                  </div>
                </mat-cell>
              </ng-container>
  
              <mat-header-row
                *matHeaderRowDef="displayedColumns"
              ></mat-header-row>
              <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
            </mat-table>
  
            <mat-paginator
              [length]="100"
              [pageSize]="10"
              [pageSizeOptions]="[5, 10, 25, 100]"
              aria-label="Select page"
            >
            </mat-paginator>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
